html {
    background-color: var(--dark-neutral);
}

body {
    margin: 0 auto !important; // Overriding tailwind
    min-height: 100vh;
    width: 95%;
    max-width: 75em;

    background-color: var(--light-neutral);

    @include respond('tab-land') {
    }

    @include respond('tab-port') {
    }

    @include respond('phone') {
    }
}

main {

}

h2 {
    font-size: 3rem;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}