/* Set the ROOT font size; this is done in "html" selector and defines the value of 1 rem.
   We want a root font size of 10px (to make all our conversions to rems easier in the rest of our CSS),
   but we can't specify it directly as such, since that would override any DEFAULT font size
   which the user may have set (such as increasing it to compensate for declining eye-sight).
   So instead, specify the root font size as a percentage, which is a percentage of the default
   font size (whether that be browser- or user-specified).  Browsers define default font size as
   16px; our desired value of 10px is 62.5% of 16px, so set the root font size to 62.5%.  If the
   user overrides the browser's default font size, all our measurements will adjust accordingly.
*/
html {
    // We want a ROOT font size of 10px; 10px / 16px = .625,
    font-size: 62.5%; // ROOT font size (also 1 rem)

    // ORDER MATTERS!
    // Order media queries by DECREASING max-width for desktop first
    // (for mobile first, order by increasing min-width)
    @include respond(tab-land) {
        // We want a ROOT font size of 9px; 9px / 16 px = .5625
        font-size: 56.25%; // ROOT font size (also 1 rem)
    }

    @include respond(tab-port) {
        // We want the same ROOT font size for tablets in both portrait and landscape;
        // specifying it for landscape will also also work for portrait,
        // so we don't need to specify it explicitly here,
        // so long as we define our media queries in the correct order
    }

    @include respond(phone) {
        // We want a ROOT font size of 8px; 8px / 16px = .5
        font-size: 50%; // ROOT font size (also 1 rem)
    }

    // "big-desktop" is LARGER than our default CSS rule,
    // so this media query can go AFTER the
    @include respond(big-desktop) {
        // We want a ROOT font size
    }
}

/* font-related properties are generally inherited,
  so use the body selector to take advantage of inheritance;
  more efficient and better practice than using the universal selector
*/
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
}

div.content {
    color: #222;
}