nav.navbar {
    margin: 0 auto;
    border-bottom-width: 1px; //border-b
    border-color: rgb(243, 244, 246); // border-gray-100


    background-color: var(--navbar-background);

    display: flex;
    flex-direction: row;
    justify-content: space-between;


    // Logo and page links
    div.nav-menu {
        display: flex;

        div.logo-menu {
        }

        div.nav-links {
        }
    }

    a {
        display: inline-block;
        font-size: 125%;
        padding: 0 2rem;
        width: 20rem;
        text-align: center;

        &:link,
        &:visited {
            color: var(--click-me-text);
        }

        &:hover {
            color: var(--navbar-background);
            background-color: var(--click-me-text);
        }

        &:active {
            color: purple;
        }

        &.current {
            border-bottom: 3px solid purple;

        }

    }


    div.profile-menu {
    }

}