nav.navbar {
    margin: 0 auto;
    border-bottom-width: 1px; //border-b
    border-color: rgb(243, 244, 246); // border-gray-100


    background-color: rgb(255, 255, 255); // bg-white

    display: flex;
    flex-direction: row;
    justify-content: space-between;


    // Logo and page links
    div.nav-menu {
        display: flex;

        div.logo-menu {
            //    shrink-0 flex items-center
        }

        div.nav-links {
            //    hidden space-x-8 sm:-my-px sm:ms-10 sm:flex
        }

        a {
            display: inline-block;

            &.active {
                //border-indigo-400 text-gray-900 focus:border-indigo-700
            }

            &:hover {
                color: orangered;
            }
        }
    }


    div.profile-menu {
        //    hidden sm:flex sm:items-center sm:ms-6
        //    display: none;
    }

}