/*
Desktop-first CSS requires max-width media queries,
which need to be arranged in DECREASING max-width
(at the point where the mixin is @included, not where it is defined).

 0-600px:   phone portrait
 601-900:   phone landscape/tablet portrait
 901-1200:  tablet landscape
 1201-1800: desktop (normal style, desktop-first)
 1801+:     big desktop

 $breakpoint argument choices:
 - phone
 - tab-port
 - tab-land
 - big-desktop

 1 em = 16px
 */
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {
            @content
        }; // 600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {
            @content
        }; // 900px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) {
            @content
        }; // 1200px
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) {
            @content
        }; //1800px
    }
}

@mixin clearfix {
    content: "";
    clear: both;
    display: table;
}

@mixin centerAll {
    position: absolute; /* parent must also be positioned */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}