:root {
    // Palette
    --light-neutral: #e0e0e0;
    --neutral: #c0c0c0;
    --dark-neutral: #a0a0a0;

    // Static, non-interactive text
    --light-text: #606060;
    --medium-text: #404040;
    --dark-text: #202020;

    // Text color for interactive items
    --click-me-text: purple;


    --navbar-background: white;

    @media (prefers-color-scheme: dark) {
        // Palette
        --neutral: #444;
        --light-neutral: #666;
        --dark-neutral: #222;
    }

}